body {
	background: white url("background.jpg") no-repeat center center fixed; 
	background-size: cover;
}

.table {
    border-radius: 10px;
    margin: 100px auto;
    float: none;
}

.searchBar {
    border: 3px solid #6897bb;
    border-radius: 2px;
    margin-right: 5px;
    float: right;
}

