{% extends '../gradmatchapp/base.html' %}

<!DOCTYPE html>
{% block body %}
<html>
	<head>
		<title></title>
	</head>
	<body id="login_page">
		<div class="container">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">Sign in</div>
					<div class="panel-body">
						<form method="post">
							{% csrf_token %}
							{{ form.as_p }}
							<input type="submit" name="login">
						</form>
					</div>
				</div>
			</div>
		</div>		
	</body>
</html>

{% endblock %}



