{% extends 'gradmatchapp/base.html' %}


<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		{% block body %}
		<div class="row">
				<div class="col-4 profile">
					<h1>Profile</h1>
				</div>
				<div class="col-6">
					<table style="width: 100%" class="table table-dark table-hover text-centered">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">Priority</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							{% if deadline_list %}
								{% for deadline in object_list %}
									<tr class="active">
										<td><a href="{% url 'gradmatchapp:detail' deadline.id %}">{{deadline.id}}</a></td>
										<td><b>{{deadline.name}}</b></td>
										<td><b>{{deadline.priority}}</b></td>
										<td><button type="submit" class="btn btn-success">Done</button></td>
									</tr>
								{% endfor %}
							{% endif %}
						</tbody>
					</table>
					<button class="open-button" onclick="openForm()">Add Deadline</button>
					<div class="form-popup" id="myForm">
						<form action="/login/" class="form-container">
							{% csrf_token %}
							{% if next %}
								<input type="hidden" name="next" value="{{ next }}" />
							{% endif %}
							<h1>Enter Deadline</h1>
							<div class="control-group">
								<div class="controls">
									<input type="password" id="Name" name="Name"  placeholder="Name">
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<input type="password" name="Priority" id="Priority" placeholder="Priority">
								</div>
							</div>
							<div class="control-group">
									<div class="controls">
										<input type="password" name="Date" id="Date" placeholder="Date">
									</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn">Add Deadline</button>
								</div>
								<div class="controls">
									<button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
								</div>
							</div>
						</form>
					</div>
					<script>
						function openForm(){
							document.getElementById("myForm").style.display = "block";
						}
						function closeForm() {
							document.getElementByID("myForm").style.display = "none";
						}
					</script>
				</div>
		</div>
		{% endblock %}
	</body>
</html>