{% extends 'gradmatchapp/base.html' %}


<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		{% block body %}
		<div class="row">
			{% if user.is_authenticated %}
				<div class="col-4">
					<h1>Profile</h1>
						{{user_info.username}} </br></br>
						<h6>Major</h6> 
						{{user_credential.major}} </br></br>
						<h6>Expected Enrollment Date</h6>
						{{user_credential.expected_Enroll_date}} </br></br>
						<h6>Description</h6>
						{{user_credential.description}} </br></br>
				</div>
				<div class="col-6">
					<table style="width: 100%" class="table table-dark table-hover text-centered">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">Priority</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
								{% for deadline in user_deadline %}
									<tr class="active">
										<td><a href="{% url 'gradmatchapp:detail' deadline.id %}">{{deadline.id}}</a></td>
										<td><b>{{deadline.name}}</b></td>
										<td><b>{{deadline.priority}}</b></td>
										<td><button type="submit" class="btn btn-success">Done</button></td>
									</tr>
								{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
		</div>
	{% endblock %}
	</body>
</html>