{% extends 'gradmatchapp/base.html' %}


<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		{% block body %}
			<div class="container" id="locations_view">
				<table>
					<tr><th>Schools</th></tr>
					{% for school in location.school_set.all %}
						<tr id="schools">
							<td>
								<a href="/gradmatchapp/locations/{{location.id}}/{{school.id}}">
									{{ school.school_name }}
								</a></br>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		{% endblock %}
	</body>
</html>