{% extends './base.html' %}

<!DOCTYPE html>
{% block body %}
<html>
	<head>
		<title></title>
	</head>
	<body id="login_page">
		<div class="container" id="login_form">
				<h1> Sign Up </h1>
				<form method = "post">
					{% csrf_token %}
					<form method="post">
						<input type="hidden" name="csrfmiddlewaretoken" value="1nBad5qPHELa0IVQ9vYXEg4YEcrIIF1CqY57fBRQzA01yXH9z6xzL7gKGsGFeEYC">
						<p>
							<input type="text" placeholder="Username" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">
						</p>
						<p>
							<input type="password" placeholder="Enter Password" name="password1" autocomplete="new-password" required="" id="id_password"> <span class="helptext">
							</span>
						</p>
						<p>
							<input type="password" placeholder="Confirm Password" name="password2" autocomplete="new-password" required="" id="id_password">
						</p>
						<p>Your password must contain at least 8 characters.</p>
					<button id="login_button">Sign Up</button>
				</form>
		</div>
	</body>
</html>
{% endblock %}

