{% extends './base.html' %}

<!DOCTYPE html>
{% block body %}
<html>
	<head>
		<title></title>
	</head>
	<body>
		<div class="container" id="signup_page" style="background: white !important">
			<div class="col">
				<div class="panel panel-default">
					<div class="panel-heading">Sign up</div>
					<div class="panel-body">
						<form method="post">
							{% csrf_token %}
							{{ form.as_table }}
							<button type="submit">Sign up</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
{% endblock %}

