body {
    background: url("background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.table {
    border-radius: 10px;
    margin: 50px auto;
    float: none;
}

.searchBar {
    border: 3px solid #6897bb;
    border-radius: 2px;
    margin-right: 5px;
    float: right;
}

.white-box{
    background-color: white;
    color: black;
}

.profile {
    background-color: white;
    margin: 50px 75px;
}

h1{
    padding: 15px;
    font-family: "Times New Roman";
    font-size: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

#schools:nth-child(even){
    background-color: #dddddd;
}

#locations {
    width: 80%;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    border-style: solid;
    border-width: thin;
    background-color: white;
}

#locations_view{
    width: 80%;
    height: auto;
    margin: 40px auto;
    padding: 20px;
    border-style: solid;
    border-width: thin;
    background-color: white;

}

#login_page {
    width: 30%;
    height: auto;
    margin: 300px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-style: solid;
    border-width: thin;
}

#signup_page {
    width: auto;
    height: auto;
    margin: 300px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-style: solid;
    border-width: thin;
}

#username {
    width: 100%;
    margin: 10px auto;
}

#password {
    width: 100%;
}

.btn {
    background-color: DeepSkyBlue !important;
    margin: 20px auto;
    width: 100%;
}

.form-popup{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid black;
    z-index: 9;
}

.form-container{
    max-width: 900px;
    padding: 10px;
    background-color: white;
    border-style: solid;
    border-width: thin;
}

.form-container input[type=text], .form-container input[type=Name]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: white;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.style{
    width: 80%;
    height: 20%;
    margin: 10px auto;
    padding: 20px;
    border-style: solid;
    border-width: thin;
    background-color: white;
}

#profile {
    background-color: white;
    margin: 50px;
}

.schoolsview{
    margin: 10px auto;
}