body {
    background: url("background.jpg") no-repeat center center fixed;
    background-size: cover; 
}

.table {
    border-radius: 10px;
    margin: 50px auto;
    float: none;
}

.searchBar {
    border: 3px solid #6897bb;
    border-radius: 2px;
    margin-right: 5px;
    float: right;
}

.white-box{
    background-color: white;
    color: black;
}

.profile {
    background-color: white;
    margin: 50px 75px;
}

h1{
    padding: 15px;
    font-family: "Times New Roman";
    font-size: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
}

#locations {
    width: 80%;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    border-style: solid;
    border-width: thin;
    background-color: white;
}

#locations_view{
    width: 80%;
    height: auto;
    margin: 40px auto;
    padding: 20px;
    border-style: solid;
    border-width: thin;
    background-color: white;

}

#login_form {
    width: 500px;
    height: auto;
    margin: 200px auto;
    padding: 20px;
    border-style: solid;
    border-width: thin;
    text-align: center;
    float: center;
    display: block;
    background: white;
}

#login_button {
    width: 90%;
    background-color: DeepSkyBlue;
    margin: 0px auto;
    text-align: center;
    display: block;
}

#submit {
    background-color: DeepSkyBlue;
}

#id_username {
    width: 90%;
}

#id_password {
    width: 90%;
}